   
   
 <!--====== NAVBAR PART START ======-->

 <section class="header-area">
    <div class="navbar-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="#">
                            <img src="assets/images/logo.png" alt="Logo">
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarEight" aria-controls="navbarEight" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarEight">
                            <ul class="navbar-nav ml-auto">
                                <li *ngIf="!toggle()"class="nav-item active">
                                    <a style="color: rgb(18, 30, 34);"   class="page-scroll" href="#home" >HOME</a>
                                </li>
                                <li class="nav-item">
                                    <a style="color:  rgb(18, 30, 34);" class="page-scroll" href="#about">ABOUT</a>
                                </li>
                                <li  style="color:  rgb(18, 30, 34);" class="nav-item">
                                    <a style="color:  rgb(18, 30, 34);"  class="page-scroll" href="#portfolio">PORTFOLIO</a>
                                </li>
                                <li class="nav-item">
                                    <a style="color:  rgb(18, 30, 34);" class="page-scroll" href="#testimonial">PRICING</a>
                                </li>
                                <li *ngIf="!toggle()" class="nav-item">
                                    <a style="color:  rgb(18, 30, 34);" class="page-scroll" href="#clients">CLIENTS</a>
                                </li>
                                <li *ngIf="!toggle()" class="nav-item">
                                    <a  style="color:  rgb(18, 30, 34);" class="page-scroll" href="#contact">CONTACT</a>
                                </li>
                                <li *ngIf="toggle()" class="nav-item">
                                    <a  style="color:  rgb(18, 30, 34);" class="page-scroll" href="#" >Log Out</a>
                                </li>
                            </ul>
                        </div>

                        <div class="navbar-btn d-none mt-15 d-lg-inline-block">
                            <a class="menu-bar" href="#side-menu-right"><i class="lni-menu"></i></a>
                        </div>
                    </nav> <!-- navbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- navbar area -->
  


    

</section>
