.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
section{
    background-color: #ddd;
}
.panel {
    background-color: #fff;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.panel-body{
    padding: 15px;
}
.center-form {
    width: 315px;
    margin-top:0%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.text-center{
    text-align: center;
}

form {
    display: block;
    margin-top: 0em;
}
.form-group{
    margin-bottom: 15px;
    padding-left: 15px;
    margin-right: 15px;

    position: relative;
}
.form-control{
    padding-left: 42px;
    box-shadow: inset 0 -2px 0 #e51c23;
    color: #666666;
    background-color: transparent;
    background-image: none;
    display: block;
    width: 100%;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-icon{position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    line-height: 46px;
    color: #555;
    z-index: 2;
    display: block;
    text-align: center;
}
.btn{
    text-transform: uppercase;
    border-right: none;
    border-bottom: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    border-radius: 3px;
}
.btn-block{
    display: block;
    width: 100%;
}
.btn-success{
    background-color: #4caf50;
    color:#fff;
}
.signup-or-separator{
    position: relative;
    height: 29px;
    margin: 5px 0;
    text-align: center;
    background: none;
}
.signup-or-separator .text {
    display: inline-block;
    padding: 8px;
    margin: 0;
    background-color: #fff;
}

.signup-or-separator hr {
    width: 90%;
    margin: -16px auto 10px auto;
    border-top: 1px solid #dce0e0;
}

[type=text].form-control, [type=password].form-control {
    border: none;
    border-radius: 0;
    box-shadow: inset 0 -1px 0 #dddddd;
    font-size: 16px;
}

[class^='ion-'] {
    font-size: 1.2em;
}
