
<div class="container">
</div>
 <div *ngIf="!opened" id="home" class="slider-area" >
    <div class="bd-example">
        <div id="carouselOne" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselOne" data-slide-to="0" class="active"></li>
                <li data-target="#carouselOne" data-slide-to="1"></li>
                <li data-target="#carouselOne" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item bg_cover active" style="background-image: url(assets/images/slider-1.jpg)">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-6 col-lg-7 col-sm-10">
                                    <h2 class="carousel-title">SHOP</h2>
                                    
                                      <button id="SignIn" class="btn btn-primary btn-round"  style="width: 160px;">SignIn</button>

                                </div>
                            </div> <!-- row -->
                        </div> <!-- container -->
                    </div> <!-- carousel caption -->
                </div> <!-- carousel-item -->

                <div class="carousel-item bg_cover" style="background-image: url(assets/images/slider-2.jpg)">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-6 col-lg-7 col-sm-10">
                                    <h2 class="carousel-title">SELL AND BUY</h2>
                                    
                                    <div class="text-center">
                                        <a href="" id="login" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm"> LogIn/Register</a>
                                      </div>
                                </div>
                            </div> <!-- row -->
                        </div> <!-- container -->
                    </div> <!-- carousel caption -->
                </div> <!-- carousel-item -->

                <div class="carousel-item bg_cover" style="background-image: url(assets/images/slider-3.jpg)">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-6 col-lg-7 col-sm-10">
                                    <h2 class="carousel-title">Be Smart</h2>
                                    <ul class="carousel-btn rounded-buttons">
                                        <li><a class="btn btn-primary btn-round" href="#">GET STARTED</a></li>
                                        <li><a class="main-btn rounded-one" href="#">Sign In</a></li>
                                    </ul>
                                </div>
                            </div> <!-- row -->
                        </div> <!-- container -->
                    </div> <!-- carousel caption -->
                </div> <!-- carousel-item -->
            </div> <!-- carousel-inner -->

            <a class="carousel-control-prev" href="#carouselOne" role="button" data-slide="prev">
                <i class="lni-arrow-left-circle"></i>
            </a>

            <a class="carousel-control-next" href="#carouselOne" role="button" data-slide="next">
                <i class="lni-arrow-right-circle"></i>
            </a>
</div>
    </div>
        </div>
            
          <!---  <div  *ngIf="opened" id="pricing" class="secondary-color text-center scrollto clearfix ">
                <div class="row clearfix">
              
                  <div class="container">
              
                    <div class="center-form panel">
                      <div class="panel-body">
                      <h4 class="text-center"><i class="ion-log-in"></i> Login</h4>
              
                      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" action="/profile"  required >
                        <div class="form-group">
                          
                          <input  type="text" class="form-control input-lg" name="email" placeholder="Email" formControlName="email">
                         
                          <span class="ion-at form-control-icon"></span> 
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" name="password" placeholder="Password" formControlName="password">
                            <span class="ion-key form-control-icon"></span> 
                        </div>
              
                <button type="submit" class="btn btn-block btn-success" (click)="hide()" > Login</button>
                <router-outlet></router-outlet>
                          
              
                        
              
                      </form>
              
                    </div>
                    </div>
              
                  </div>
              
                </div>
              <div>---->
   <!--Modal: Login / Register Form-->

<div *ngIf='!opened' class="toggle-panel" >
<div  class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <!--Content-->
      <div class="modal-content">
  
        <!--Modal cascading tabs-->
        <div class="modal-c-tabs">
  
          <!-- Nav tabs -->
          <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
                Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                Register</a>
            </li>
          </ul>
  
          <!-- Tab panels -->
          <div class="tab-content">
            <!--Panel 7-->
            <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
  
              <!--Body-->
              <form [formGroup]="loginForm"  required>
              <div >
                  <small class="danger">{{msg}}</small>
              </div>
              <div class="modal-body mb-1">
                <div class="md-form form-sm mb-5">
                  <i class="fas fa-envelope prefix"></i>
                  <label data-error="wrong" data-success="right"  for="exampleInputEmail1">Your email</label>
                  <input type="email" name="email" [class.is-invalid]="loginForm.get('email').invalid && loginForm.get('email').touched" formControlName="email" id="exampleInputEmail1" class="form-control ">
                  
                
            </div>

  
                <div class="md-form form-sm mb-4">
                  <i class="fas fa-lock prefix"></i>
                  <label data-error="wrong"  data-success="right" for="exampleInputPassword1">Your password</label>
                  <input type="password" [class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').touched" name="password" formControlName="password" id="exampleInputPassword1" class="form-control ">
                  
                  
                </div>
                <div class="text-center mt-2">
                  <button  data-dismiss="modal" class="btn btn-info" (click)="login()">Log in <i class="fas fa-sign-in ml-1"></i></button>
                </div>
              </div>
            </form>
              <!--Footer-->
              <div class="modal-footer">
                <div class="options text-center text-md-right mt-1">
                  <p>Not a member? <a href="#signUp" class="blue-text">Sign Up</a></p>
                  <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                </div>
                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
              </div>
  
            </div>
            <!--/.Panel 7-->
  
            <!--Panel 8-->
            <div  id="signUp" class="tab-pane fade" id="panel8" role="tabpanel">
  
              <!--Body-->            
              <form [formGroup]="loginForm" required>
              <div class="modal-body">
                <div class="md-form form-sm mb-5">
                  <i class="fas fa-envelope prefix"></i>
                  <input type="email" id="emailHelp" aria-describedby="emailHelp"class="form-control " name="email" formControlName="email">
                  <label data-error="wrong" data-success="right" for="emailHelp">Your email</label>
                </div>
  
                <div class="md-form form-sm mb-5">
                  <i class="fas fa-lock prefix"></i>
                  <input type="password" id="modalLRInput13"formControlName="password" name="password"  class="form-control ">
                  <label data-error="wrong" data-success="right"  for="modalLRInput13">Your password</label>
                </div>
  
                <div class="md-form form-sm mb-4">
                  <i class="fas fa-lock prefix"></i>
                  <input type="password" id="modalLRInput14" formControlName="repeatpassword"name="repeatpassword" class="form-control ">
                  <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat password</label>
                </div>
  
                <div class="text-center form-sm mt-2">
                  <button class="btn btn-info">Sign up <i class="fas fa-sign-in ml-1"></i></button>
                </div>
  
              </div>
              </form>
              <!--Footer-->
              <div class="modal-footer">
                <div class="options text-right">
                  <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
                </div>
                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!--/.Panel 8-->
          </div>
  
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
</div>
  <!--Modal: Login / Register Form-->
  
  
              
            